<div class="container-fluid mt-4 px-3 mb-3 overflow-hidden">
  <div class="mb-3">
    <button
      class="mx-2"
      mat-raised-button
      (click)="selectCategory('all')"
      [color]="selectedCategory === 'all' ? 'primary' : ''"
    >
      All
    </button>
    <button
      class="m-2"
      *ngFor="let category of allCategories$ | async"
      mat-raised-button
      (click)="selectCategory(category)"
      [color]="selectedCategory === category ? 'primary' : ''"
    >
      {{ category | titlecase }}
    </button>
  </div>
  <div class="row g-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <app-product-list-item
      *ngFor="let product of filteredProducts$ | async"
      [@animate]="{ value: '*', params: { x: '-180px', delay: '200ms' } }"
      [product]="product"
    ></app-product-list-item>
  </div>
</div>
