<nav class="sticky-top">
  <mat-toolbar color="primary">
    <div
      class="d-flex justify-content-between align-items-center w-100 container-fluid"
    >
      <span>Store App</span>

      <div class="d-flex align-items-center">
        <app-language class="mx-2"></app-language>
        <ng-container *ngIf="user$ | async as user">
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            class="md:text-base text-xs font-medium"
          >
            <span> {{ "welcome" | translate }} {{ user?.userName }} </span>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="logOut()"
              class="flex justify-start items-center gap-2 px-23 md:text-base text-xs font-medium"
            >
              <span>{{ "logout" | translate }} </span>
              <mat-icon>logout</mat-icon>
            </button>
          </mat-menu>
        </ng-container>
      </div>
    </div>
  </mat-toolbar>
</nav>
